body {
    background-color: #222627;
    color: white;
    font-family: "Roboto";
    text-align: center;
}

h1 {
    text-align: center;
    margin: 100px 0 30px 0;
}

#schedule-div {
    margin: 20px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(7,120px);
    grid-template-rows: 80px repeat(24,70px);
    justify-content: center;
    grid-auto-flow: column;
}

.schedule-cell {
    background-color:whitesmoke;
    border: 2px solid black;
    height: 70px;
    color: black;
    line-height: 70px;
    text-align: center;
    font-size: 1.15rem;
}

.schedule-cell:hover {
    background-color: #c4c4c4;
}

.schedule-cell-clicked {
    background-color: #27bc1a;
    border: 2px solid black;
    height: 70px;
    color: black;
    line-height: 70px;
    font-size: 1.15rem;
    text-align: center;
}

.schedule-label {
    background-color: gray;
    border: 2px solid black;
    height: 80px;
    color: black;
    line-height: 35px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 750;
}

#submit-time {
    margin: 30px auto;
    background: red;
    display: block;
    width: 150px;
    height: 55px;
    border-radius: 25px;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 3px 2px 1px #000;
}

#formone {
    width: 500px;
    margin: 100px auto 70px auto;
}

#time {
    text-align: center;
}

#buttons {
    display: inline-block;
}

.time {
    background: red;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Roboto";
    border: none;
    margin: 20px 6px 0 6px;
    padding: 4px 12px;
}