body {
    background-color: #222627;
    color: white;
    font-family: "Roboto";
    text-align: center;
}

h1 {
    text-align: center;
    margin: 100px 0 30px 0;
}

#schedule-div {
    display: grid;
    grid-template-columns: repeat(7,111px);
    grid-template-rows: repeat(24,82px);
    justify-content: center;
    grid-auto-flow: column;
}

#labels {
    margin: 40px 0 18px 0;
    display: grid;
    grid-template-columns: repeat(7,111px);
    justify-content: center;
}

.schedule-cell {
    background-color:whitesmoke;
    height: 76px;
    width: 106px;
    color: black;
    text-align: center;
    font-size: 1.15rem;
    position: relative;
    line-height: 76px;
    border-radius: 6px;
}

.schedule-cell:hover {
    background-color: #c4c4c4;
}

.schedule-cell-clicked {
    background-color: #27bc1a;
    height: 76px;
    width: 106px;
    color: black;
    text-align: center;
    font-size: 1.15rem;
    position: relative;
    line-height: 76px;
    border-radius: 6px;
}

.schedule-label {
    background-color: gray;
    height: 80px;
    width: 106px;
    color: black;
    line-height: 30px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 750;
    border-radius: 6px;
    padding-top: 8px;
    box-sizing: border-box;
}

#submit-time {
    margin: 30px auto;
    background: red;
    display: block;
    width: 150px;
    height: 55px;
    border-radius: 25px;
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 3px 2px 1px #000;
}

#formone {
    width: 500px;
    margin: 100px auto 70px auto;
}

#time {
    text-align: center;
}

#buttons {
    display: inline-block;
}

.time {
    background: red;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Roboto";
    border: none;
    line-height: 25px;
    margin: 20px 6px 0 6px;
    padding: 4px 12px;
    border-radius: 6px;
}

.freqcount {
    background-color: #e2dede;
    width: 44px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    line-height: normal;
    font-size: 1.1rem;
    border-radius: 6px;
    color: #818181;
}
